<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeTrackingBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EyeTrackingBridge.Properties.Settings>
            <setting name="OscHostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="OscPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="BrokenEyeHostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="BrokenEyePort" serializeAs="String">
                <value>5555</value>
            </setting>
            <setting name="DirectionLimitIn" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DirectionLimitOut" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DirectionLimitUp" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DirectionLimitDown" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OpennessThresholdClose" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="OpennessThresholdOpen" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TransitionTimeClose" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="TransitionTimeOpen" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="BlinkThreshold" serializeAs="String">
                <value>0.2</value>
            </setting>
        </EyeTrackingBridge.Properties.Settings>
    </userSettings>
</configuration>